*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar-nav{
    /* width: 100%; */
    padding: 5px;
    display: flex;
    justify-content: space-evenly !important;
    color: #808080;
    font-size: 22px;
}
.navbar li a{ 
    color: #fff !important;
    text-shadow: 0px 0px 2px #fff;
}
.navbar li a:hover{
    transform: scale(1.1);
    transition: all 0.4s;
}

.piedepagina{
    font-size: 30px;
    text-align: center;
    color: #fff;
}
.piedepagina p{
    text-shadow: 0px 0px 2px #fff;
    margin-bottom: 5px;
}
.piedepagina i{
    letter-spacing: 20px;
    font-size: 45px;
    color:#fff;
    margin-bottom: 4px;
}
.piedepagina i:hover{
    transform: scale(1.2);
    transition: all 0.5s;
}
/* Index start */
.cuerpo-index{
    background-image: url(../multimedia/Libro.jpg);
    background-size: cover;
    background-position: bottom;
    height: 76vh;
}
.carousel-item{
    max-height: 100vh;
    width: 100%;
}
.carousel-item img{
    width: 100%;
}

.cuerpo-index h2{
    font-size: 25px;
    padding: 40px 0px 0px 20px;
    color: #EFC88B;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

/* Index ends */

/* Servicios start */
.cuerpo-servicios{
    background-color: #474554;
    height: auto;
    padding: 20px;
    font-size: 20px;
}
.cuerpo-servicios h2{
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    text-shadow: 0px 0px 2px #fff;
    width: 190px;
    padding: 5px 8px;
    border-radius: 5px;
    margin-left: 25px;
    margin-bottom: 10px;
}
.servicios{
    width: 100%;
    height: auto;
    background-color: #474554;
    display: grid;
    padding: 20px;
    grid-template-rows: repeat(5, 200px);
    grid-template-columns: 1fr;
    gap: 20px;
}
.item{
    background-color: #474554;
    border: #000 solid 1px ;
    width: 100%;
    box-shadow: 1px 1px 8px #000;
    border-radius: 5px;
    filter: grayscale(100%);
    font-size: 23px;
    color: #CF5C36;
    text-shadow: 1px 1px 5px #000;
}
.item:active{
    transform: scale(1.05);
    transition: all 0.5s;
    filter: grayscale(0%);
}
.item1{
    background-image: url(../multimedia/casamiento.jpg);
    background-size: cover;
    background-position: center;
    text-align: end;
}
.item2{
    background-image: url(../multimedia/particular.jpg);
    background-size: cover;
    background-position: center;
    text-align: end;
}
.item3{
    background-image: url(../multimedia/15.jpg);
    background-size: cover;
    background-position: center;
}
.item4{
    background-image: url(../multimedia/show.jpg);
    background-size: cover;
    background-position: center;
}
.item5{
    background-image: url(../multimedia/grupal.jpg);
    background-size: cover;
    background-position: center;
}

@media only screen and (min-width:500px) and (max-width:579px){
    .galeria{
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: repeat(3, 200px);
    }
    .item5{
        grid-column: 1/3;
        grid-row: 3/4;
    }
}

@media only screen and (min-width:580px) and (max-width:779px){
    .galeria{
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: repeat(3, 200px);
    }
    .item5{
        grid-column: 1/2;
        grid-row: 3/4;
    }
}

@media only screen and (min-width:780px) and (max-width:1023px){
    .galeria{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(2, 200px);
    }
}
@media only screen and (min-width:1024px){
    .servicios{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(2, 300px);
    }
    .item{
        filter: grayscale(100%);
    }
    .item:hover{
        transform: scale(1.03);
        transition: all 0.5s;
        filter: grayscale(0%);
    } 
} 
/* Servicios ends */
/* Galería start */
.galeria{
    background-color: #474554;
    height: auto;
    font-size: 20px;
    padding: 2px;
}
.galeria h2{
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 28px;
    text-shadow: 0px 0px 2px #fff;
    background-color: #474554;
    width: 120px;
    padding: 2px 8px;
    margin: 20px 25px;
    border-radius: 8px;
    margin-bottom: 10px;

}
.contenedor{
    height: auto;
    width: 98vw;
    background-color: #474554;
    display: inline-block;
    /* display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 200px);
    gap: 20px;
    padding: 20px;
    grid-template-areas:    "img1"; */

}
.items{
    border: 1px solid #000;
    border-radius: 5px;
    height: 340px;
    box-shadow: 1px 1px 8px #000;
}
.items:active{
    transform: scale(1.05);
    transition: all 0.5s;
}
.items1{
    grid-area: img1;
    background-image: url(../multimedia/Entregado.jpg);
    background-size: cover;
    background-position: center;
}
.items2{
    grid-area: img2;
    background-image: url(../multimedia/ave.jpg);
    background-size: cover;
    background-position: top;
}
.items3{
    grid-area: img3;
    background-image: url(../multimedia/Des-concierto.jpg);
    background-size: cover;
    background-position: center;
}
.items4{
    grid-area: img4;
    background-image: url(../multimedia/caballo.jpg);
    background-size: cover;
    background-position: center;
}
.items5{
    grid-area: img5;
    background-image: url(../multimedia/cisnes.jpg);
    background-size: cover;
    background-position: center;
}
.items6{
    grid-area: img6;
    background-image: url(../multimedia/multimedia.jpg);
    background-size: cover;
    background-position: center;
}
.items7{
    grid-area: img7;
    background-image: url(../multimedia/Juro..jpg);
    background-size: cover;
    background-position: top;
}
.items8{
    grid-area: img8;
    background-image: url(../multimedia/Enigma.jpg);
    background-size: cover;
    background-position: center;
}

@media only screen and (min-width:420px) and (max-width:559px){
    .contenedor{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(5, 200px);
        gap: 20px;
        padding: 20px;
        grid-template-areas: "img1 img1 img2"
                             "img3 img3 img3"
                             "img4 img4 img7"
                             "img6 img6 img5"
                             "img8 img8 img5";
    }
    .items{
        height: 200px;
    }
    .items8{
        background-position: bottom;
    }
}
@media only screen and (min-width:560px) and (max-width:699px){
    .contenedor{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(5, 200px);
        gap: 20px;
        padding: 20px;
        grid-template-areas: "img1 img1 img2"
                             "img3 img3 img2"
                             "img4 img4 img7"
                             "img6 img6 img5"
                             "img8 img8 img5";
    }
    .items{
        height: 200px;
    }
    .items2{
        height: 420px;
    }
    .items5{
        height: 420px;
    }
    .items8{
        background-position: bottom;
    }
}
@media only screen and (min-width:700px){
    .contenedor{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(4, 200px);
        gap: 20px;
        padding: 20px;
        grid-template-areas: "img1 img8 img8 img5"
                             "img3 img3 img6 img5"
                             "img4 img4 img2 img7"
                             "img4 img4 img2 img7"
                             /* "img6 img6 img5"
                             "img8 img8 img5"; */
    }
    .items{
        height: 200px;
    }
    .items:hover{
    transform: scale(1.05);
    transition: all 0.5s;
    }
    .items2{
        height: 250px;
    }
    .items4{
        height: 400px;
    }
    .items5{
        height: 290px;
    }
    .items7{
        height: 250px;
    }
    .items8{
        background-position: bottom;
    }
}
@media only screen and (min-width:1070px){
    .contenedor{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(4, 200px);
        gap: 20px;
        padding: 20px;
        grid-template-areas: "img1 img8 img8 img5"
                             "img3 img3 img6 img5"
                             "img4 img4 img2 img7"
                             "img4 img4 img2 img7"
    }
    
    .items2{
        height: 400px;
        background-position: top;
    }
    .items5{
        height: 420px;
    }
    .items7{
        height: 400px;
    }
    .items8{
        width: 500px;
    }
}


/* Galería ends */
/* Contacto start */
.cuerpo-formulario{
    background-image: url(../multimedia/Libro.jpg);
    background-position: bottom;
    background-size: cover;
    background-position: bottom;
    font-size: 30px;
    padding: 10px;
}
.formulario{
    border-radius: 20px;
    background-color: rgb(128, 128, 128, 0.2);
    max-width: 400px;
    color: #000;
    padding: 5px 15px;
}
.formulario input{
    border: #000 2px solid;
    width: max-content;
}
.formulario textarea{
    border: #000 1px solid;
}
@media screen and (max-width:380px) {
    .formulario input{
        max-width: 200px;
    }
    .formulario textarea{
        max-width: 200px;
    }
}
/* Contacto ends */